# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/pb_data
/pb_migrations
# dependencies
node_modules
node_modules/

# misc
.DS_Store
*.pem
*.iml

# debug
npm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

.idea/
